
* {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
}
.App {
	width: 100vw;
	height: 100vh;
	opacity: 1;
	background-color: #fff;
	position: fixed;
}
.navBar {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

}
.leftMenu {
	top: 0px;
	left: 0px;
	width: 250px;
	height: 57px;
	background: #6074F9 0% 0% no-repeat padding-box;
	opacity: 1;
	display: flex;
	justify-content: center;
	align-items: center;

}
.logo {
	width: 188px;
	height: 14px;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.7px;
	color: #FFFFFF;
	opacity: 1;
}
.rightMenu {
	top: 0px;
	left: 250px;
	width: calc(100% - 250px);
	height: 57px;
	background: #6074F9 0% 0% no-repeat padding-box;
	box-shadow: 0px 2px 10px #E3E3E380;
	opacity: 1;
	border-left: 2px solid white;
}
.container {
	display: flex;
}
.leftContainer {
	top: 0px;
	left: 0px;
	width: 250px;
	height: 100vh;
	background: #F4F4F4 0% 0% no-repeat padding-box;
	opacity: 1;
}
.middleContainer {
	top: 57px;
	left: 250px;
	width: 512px;
	height: 100vh;
	background: #EAEAEA 0% 0% no-repeat padding-box;
	opacity: 1;
	display: flex;
	flex-direction: column;
	overflow: auto;
	
}
#status {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	margin-top: 17px;
	
}
.list1 {
	top: 77px;
	width: 220px;
	height: 46px;
	background: #EAEAEA 0% 0% no-repeat padding-box;
	border-radius: 24px 0px 0px 24px;
	opacity: 1;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
	padding-bottom: 5px;
}
.list2 {
	top: 123px;
	left: 30px;
	width: 220px;
	height: 46px;
	border-radius: 24px 0px 0px 24px;
	background: #EAEAEA 0% 0% no-repeat padding-box;
	opacity: 1;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
	padding-bottom: 5px;
}
.list3 {
	top: 169px;
	left: 30px;
	width: 220px;
	height: 46px;
	border-radius: 24px 0px 0px 24px;
	background: #EAEAEA 0% 0% no-repeat padding-box;
	opacity: 1;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
	padding-bottom: 5px;
}
.status_name {
	list-style: none;
	height: 15px;
	text-align: left;
	font-weight: 200;
	letter-spacing: 0.65px;
	color: #2C2731;
	opacity: 1;
}
.fa-caret-right {
	&:before {
		margin-left: 20px;
		margin-right: 30px;
		display: flex;
		align-items: center;
	}
}
.status-name {
	top: 93px;
	left: 291px;
	width: 79px;
	height: 15px;
	display: block;
	margin-top: 20px;
	align-items: center;
}
.middleStatus {
	width: 512px;
	text-align: left;
	letter-spacing: 0.65px;
	color: #2C2731;
	opacity: 1;
	flex: 1;
	margin-left: 20px;
	margin-bottom: 20px;
	font-size: 13px/16px;
}
.todoHeading {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-left: 50px;
	margin-top: 50px;
}
.todoDescription {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-left: 50px;
	margin-top: 20px;
}
#headingTodo {
	text-align: left;
	height: 60px;
	top: 10px;
	border: none;
	background: transparent;
	font-size: 32px;
	font-weight: 400;
	color: black;
	width: 400px;
	border-bottom: 0.2px solid rgba(82, 79, 79, 0.274);
	outline: none;
	padding-bottom: 10px;
	letter-spacing: 1.6px;
}
#descriptionTodo {
	padding-top: 10px;
	text-align: left;
	height: 20px;
	top: 10px;
	border: none;
	background: transparent;
	font-size: 16px;
	font-weight: 200;
	color: black;
	width: 400px;
	outline: none;
	opacity: 1;
	letter-spacing: 0.8px;
}
.addTask {
	margin-top: 450px;
	margin-left: 50%;
	width: 300px;
	height: 52px;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 1px;
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFFDE;
	background: #F96060 0% 0% no-repeat padding-box;
	border-radius: 4px;
	opacity: 1;
	border: none;
	&:hover {
		cursor: pointer;
	}
}
::placeholder {
	color: black;
	opacity: 1;
}
.tasks {
	display: flex;
	flex-direction: column;
	margin: 10px;
}
.task-list {
	width: 430px;
	height: 70px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 5px 5px 9px #E0E0E080;
	margin: 16px 41px 3px 41px;
	border-radius: 3px;
	opacity: 1;
	&:hover {
		width: 430px;
		height: 70px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		background: #6074F9 0% 0% no-repeat padding-box;
		box-shadow: 5px 5px 9px #E0E0E080;
		text-decoration-color: #FFFFFF;
		margin: 16px 41px 3px 41px;
		border-radius: 3px;
		opacity: 1;
	}	
}


.taskDetailsDiv {
	margin-left: 23px;
	margin-right: 23px;
	flex: 1;

}


.statusHeading {
	text-align: left;
	letter-spacing: 0px;
	color: #313131;
	opacity: 1;
	font-weight: 400;
	font-size: 16px;

	&:hover {
	text-align: left;
	letter-spacing: 0px;
	color: #FFFFFF;
	opacity: 1;
	font-weight: 400;
	font-size: 16px;

	}
}

.dateTime {
	display: flex;
	flex-direction: row;
	flex: 1;
}

.taskDate {
	text-align: left;
	letter-spacing: 0px;
	color: #9B9B9B;
	font-weight: 200;
	opacity: 1;
	display: flex;
	flex-direction: column;
	margin-right: 5px;
	&:hover {
		text-align: left;
		letter-spacing: 0px;
		color: #FFFFFF;
		font-weight: 200;
		opacity: 1;
	}
}



.taskTime {
	text-align: left;
	letter-spacing: 0px;
	color: #9B9B9B;
	font-weight: 200;
	opacity: 1;
	display: flex;

	
	&:hover {
		text-align: left;
		letter-spacing: 0px;
		color: #FFFFFF;
		font-weight: 200;
		opacity: 1;
	}
}
.checkBoxDiv {
	display: flex;
	flex-direction: column;
	margin-left: 25px;
	margin-right: 16px;
	justify-content: center;
	
}
input[type = "checkbox"] {
	
			display: none;
			
		}
	
label {
	position: relative;
	cursor: pointer;

	
	&::before {
		content: "";
		background: url("../src/images/checkIcon.png");
		background-position: center;
		background-size: contain;
		width: 15px;
		height: 15px;
		position: absolute;
		transform: scale(0);
		top: -11px;
		left: 2px;
	}
	&::after {
		content: "";
		border: 3px solid #F91B23;
		background-position: center;
		width: 12px;
		height: 12px;
		position: absolute;
		border-radius: 50%;
		top: -12px;
	}
}


input[type="checkbox"] {
	&:checked {
		+ {
			label {
				&::before {
					transform: scale(1);
				}
			}
		}
	}
}
.fa-trash-alt {
	&:before {
		color: #FFFFFF;
		margin-right: 23px;
		cursor: pointer;
	}
}

// Media Queries needs to be added to add responsiveness.


// @media (max-width: 720px) {
// 	.navBar {
// 		max-width: 720px;

// 	}

// 	.leftMenu {
// 		align-items: center;
// 		justify-content: center;
// 	}

// 	.logo {
// 		font-size: 14px;
// 		margin-bottom: 10px;
// 	}

// 	.leftContainer {
// 		max-width: 720px;
// 		max-height:100px;
// 		top: 0px;
// 		left: 0px;
// 		background: #F4F4F4 0% 0% no-repeat padding-box;
// 		opacity: 1;
// 	} 

	
// 	.middleContainer {
// 			top: 100px;
// 			left: 0px;
// 			max-width: 720px;
// 			height: 300px;
// 			background: #EAEAEA 0% 0% no-repeat padding-box;
// 			opacity: 1;
// 			display: flex;
// 			flex-direction: column;
// 			overflow: auto;
// 	}

// 	.rightContainer {
// 			top: 400px;
// 			left: 0px;
// 			max-width: 720px;
// 			height: 400px;

// 	}
	

// 	#status {
// 		margin-left: 0;
// 		margin-top: 17px;
// 		display: flex;
// 		flex-direction: row;

// 	}

// 	.list1{
// 		width: 100%;
// 	}
// 	.list2 {
// 		width: 100%;

// 	}

// 	.status-name {
// 		padding-right: 5px;
// 	}

// 	.list3 {
// 		width: 100%;

// 	}

// 	.container {
// 		flex-direction:inherit;
// 		flex: 1;
// 	}
// }